<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusic" class="com.my.testproject.RockMusic"> </bean>
    <bean id="classicalMusic" class="com.my.testproject.ClassicalMusic"> </bean>
    <bean id="reggaeMusic" class="com.my.testproject.ReggaeMusic"> </bean>
<!--    <bean id="musicPlayer"-->
<!--          class="com.my.testproject.MusicPlayer">-->
<!--        <constructor-arg ref="musicBean"/>-->
<!--    </bean>-->
    <bean id="musicPlayer" class="com.my.testproject.MusicPlayer">
<!--        <property name="music" ref="musicBean"/>-->

<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
        <constructor-arg ref="musicBean"/>
        <property name="playlist">
            <list>
                <ref bean="rockMusic"></ref>
                <ref bean="classicalMusic"></ref>
                <ref bean="reggaeMusic"></ref>
            </list>
        </property>
    </bean>
</beans>